local wezterm = require 'wezterm'

local config = {}

if wezterm.config_builder then
  config = wezterm.config_builder()
  end

  -- カラースキームの設定
  config.color_scheme = 'AdventureTime'
  config.hide_mouse_cursor_when_typing = false
{{- if eq .chezmoi.os "linux" }}
  -- config.window_decorations = "RESIZE" --"INTEGRATED_BUTTONS|RESIZE"
  -- config.use_resize_increments = false
  config.enable_wayland = false
{{- end }}
  -- フォントの設定
  config.font = wezterm.font("NotoMono Nerd Font", {weight="Regular", stretch="Normal", style="Normal"})
  -- フォントサイズの設定
  config.font_size = 13
{{- if eq .chezmoi.os "darwin" }}
  config.macos_window_background_blur = 20
{{- end }}
  config.background = {
    -- This is the deepest/back-most layer. It will be rendered first
    {
      source = {
        File = wezterm.home_dir .. '/Pictures/miko.png',
      },
      -- The texture tiles vertically but not horizontally.
      -- When we repeat it, mirror it so that it appears "more seamless".
      -- An alternative to this is to set `width = "100%"` and have
      -- it stretch across the display
      repeat_x = 'NoRepeat',
      vertical_align = 'Middle',
      horizontal_align = 'Center',
      opacity = 0.95,
      hsb = {
        -- 背景画像の明るさ
        -- 1.0で元画像から変更なし
        brightness = 0.01,
        -- 色相の設定
        -- 1.0で元画像から変更なし
        hue = 1.0,
        -- 彩度の調整
        -- 1.0で元画像から変更なし
        saturation = 1.0,
      },
      attachment = "Fixed",
    }
  }


  -- キーバインドの設定
  local act = wezterm.action

{{- if eq .chezmoi.os "darwin" }}
  local split_horizontal_key = '='
  local split_horizontal_mods = 'CMD|CTRL'
  local split_vertical_key = '-'
  local split_vertical_mods = 'CMD|CTRL'
  local shortcut_mods = 'CMD'
  local word_delete_mods = 'CMD'
  local resize_mods = 'CMD'
  local close_pane_action = act.CloseCurrentPane { confirm = true }
{{- else }}
  local split_horizontal_key = '='
  local split_horizontal_mods = 'CTRL|ALT'
  local split_vertical_key = '-'
  local split_vertical_mods = 'CTRL|ALT'
  local shortcut_mods = 'CTRL'
  local word_delete_mods = 'CTRL'
  local resize_mods = 'ALT'
  local close_pane_action = act.DisableDefaultAssignment
{{- end }}

  config.keys = {
    {
      key = split_horizontal_key,
      mods = split_horizontal_mods,
      action = act.SplitHorizontal { domain = 'CurrentPaneDomain' },
    },
    {
      key = split_vertical_key,
      mods = split_vertical_mods,
      action = act.SplitVertical { domain = 'CurrentPaneDomain' },
    },
    -- 左矢印でカーソルを前の単語に移動
    {
      key = "LeftArrow",
      mods = shortcut_mods,
      action = act.SendKey {
        key = "b",
        mods = "META",
      },
    },
    -- 右矢印でカーソルを次の単語に移動
    {
      key = "RightArrow",
      mods = shortcut_mods,
      action = act.SendKey {
        key = "f",
        mods = "META",
      },
    },
    -- Backspaceで前の単語を削除
    {
      key = "Backspace",
      mods = shortcut_mods,
      action = act.SendKey {
        key = "w",
        mods = word_delete_mods,
      },
    },
    -- kill a pane
    {
      key = 'x',
      mods = shortcut_mods,
      action = close_pane_action,
    },
    -- { key = 'v', mods = 'CTRL', action = act.PasteFrom 'Clipboard' },
    {
      key = 'h',
      mods = resize_mods,
      action = act.AdjustPaneSize { 'Left', 5 },
    },
    {
      key = 'j',
      mods = resize_mods,
      action = act.AdjustPaneSize { 'Down', 5 },
    },
    { key = 'k',
      mods = resize_mods,
      action = act.AdjustPaneSize { 'Up', 5 },
    },
    {
      key = 'l',
      mods = resize_mods,
      action = act.AdjustPaneSize { 'Right', 5 },
    },
  }

  config.window_close_confirmation = 'NeverPrompt'

  return config
